*{
  padding: =0;margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
nav{
  background: rgb(149,149,149);
  height: 50px;
  width: 100%;
}
  .logo{
    color:white;
    font-size: 20px;
cursor: pointer;
margin-top:5px;
    margin-left: 5%;
    font-weight: bold;
  }
  .top-segment{
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
  .top{
    display: inline-block;
    color:white;
    font-size: 17px;
    background-color: rgb(40,90,99);
    text-transform: uppercase;
    position: relative;


  }
  .section{
    position: relative;
  }
.col-sm-4{
  width: 20%;
  position: static;
  text-align: center;
  float: left;
display: table;
   height:100px;
  border: 1px solid rgb(200,200,150);



}
.navbar{
  margin-top: 5%;
  margin-left: 0;
  text-align: center;
}
.navbar a{
  color: black;
 font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  margin-left: 0;
  padding:14px 24px;
}
.navbar a:hover{
  background-color: rgb(0,78,168);

}
.col-sm-8{
  margin-top: 5px;
  float: right;
background-color: rgb(249,249,250);
   width:80%;
}
.dashboard-div{
  margin-top: 5px;
  float: right;
background-color: rgb(249,249,250);
   width:80%;

  position: relative;
  height: 100%;
}
.total-patient{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  height: 250px;


background-color: white;
  border: 1px solid rgb(200,200,150);
position: relative;


}
.patient-img{
  float: left;
  width: 30%;
  height: 150px;
  margin-top: 7%;
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 5%;


}
.total-pat-value{
  float: left;
  width: 30%;
  margin-left: 20%;
  margin-top:5%;
    color: black;
   font-size: 50px;
    font-weight: bold;

}
.upcoming-appointment{
  display: block;
   position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  height:250px
  background-color: red;
  border: 1px solid rgb(200,200,150);
}

.pat-btn{
    padding: 12px 28px;
    background-color: #008CBA;
    border: none;
  color: white;
font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.doctortable{
  margin-top: 50px;
    overflow-y: scroll;
    overflow-x: scroll;



}
.table {

  text-align: center;
cursor: pointer;
width: 100%;
padding: 15px;
margin-bottom: 1rem;
color: #212529;
font-size: 15px;

}
.table-bordered {
border: 1px solid #dee2e6;
}
th{
  background-color: dodgerblue;
  color:white;
}
th,td{
  padding: 10px;
}
 tbody tr:hover {
color: #212529;
background-color: rgba(0, 0, 0, 0.075);
}



@media(max-width:480px){

  .total-patient{

    height: 120px;
    margin-bottom: 0px;



  }
  .total-pat-value{
     font-size: 20px;
      font-weight: bold;
        margin-left: 0;

  }

.dashboard-div{
  width: 100%;
}
  .pat-btn{

      background-color: #008CBA;
      border: none;
    color: white;
  font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
  .patient-img{

    margin-left:5%;



  }
  .navbar{

    margin-left: 0;

  }
  #pat-img{
    width: 50%;
    height: 50%;
  }

  .col-sm-4{
  margin-left: 30%;



}

  .patient-img{
    height: 100%;
  }

  .doctortable{
  width: 100%;
  margin-left: 0;
  margin-top: 2px;



  }
}
